{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block content %}

    <link href="{{ STATIC_URL }}/css/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Page Heading -->
    <div class="row">
    <div class="main_container">
        <div class="first_container" />
            <div class="panel-body">
                <form action="{% url 'settings:add_event' %}" method="post">
                    {% csrf_token %}
                        <div class="field_group" />
                        {{ form.name.label_tag}}
                        {{ form.name }}
                         {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <div class="validation_error" >
                                    {{error}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="datetimeChooser" >
                            {{ form.start_time.label_tag }}
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="start_time" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                 {% if form.start_time.errors %}
                                    {% for error in form.start_time.errors %}
                                        <div class="validation_error" >
                                            {{error}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <small> {% trans "Enter the time when action should be started." %}</small>
                            </div>
                        </div>
                        <div class="datetimeChooser" >
                            {{ form.end_time.label_tag }} 
                            <div class="form-group">
                                <div class='input-group date' id='end_time_picker'>
                                    <input type='text' name="end_time" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                {% if form.end_time.errors %}
                                    {% for error in form.end_time.errors %}
                                        <div class="validation_error" >
                                            {{error}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <small>{% trans "Enter the time, when action should be ended." %}</small>
                        </div>

                    <div class="field_group" />
                            <select name="activation_group" id="group" class="form-control">
                                {% for group in element_groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select> 
                          <button type="button" id='add_event' class="btn btn-sm btn-primary">{% trans "Add" %}</button>
                    </div>

                    <div class="field_group" />
                        {{ action_form.is_periodically.label }}
                        {{ action_form.is_periodically }}
                    </div>

                    <div id="days_group">
                        <button id="monday" type="button" class="btn btn-xs btn-default">
                        {% trans "Monday" %}</button>
                        <button id="tuesday" type="button" class="btn btn-xs btn-default">
                        {% trans "Tuesday" %}</button>
                        <button id="wednesday" type="button" class="btn btn-xs btn-default">
                            {% trans "Wednesday" %}
                        </button>
                        <button id="thursday" type="button" class="btn btn-xs btn-default">
                            {% trans "Thursday" %}
                        </button>
                        <br>
                        <button id="friday" type="button" class="btn btn-xs btn-default">
                            {% trans "Friday" %}
                        </button>
                        <button id="saturday" type="button" class="btn btn-xs btn-default">
                            {% trans "Saturday" %}
                        </button>
                        <button id="sunday" type="button" class="btn btn-xs btn-default">
                            {% trans "Sunday" %}
                        </button>
                    
                    <br><br>
                    
                    </div>

                    <button type="submit" class="btn btn-xs btn-primary">{% trans "Continue" %}</button>
                </form>
            </div>
        </div>
        <div class="second_container">
            <div class="row" style="width:100%">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" id="added_events">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <th> {% trans "Group" %}</th>
                                    <th>{% trans "Start time" %}</th>
                                    <th>{% trans "End time" %}</th>
                                    <th>{% trans "Repeat" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
     <a href="{% url 'settings:add_client' %}" class="btn btn-sm btn-primary" role="button">{% trans "Remove all" %} </a>
    <div class="col-lg-14">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Name" %}</th> 
                        <th>{% trans "Start time" %}</th>
                        <th>{% trans "End time" %}</th>
                        <th>{% trans "Execution time" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events  %}
                    <tr>
                        <td>
                            <a href="#" ><img src="{% static 'images/remove.png' %}" alt='Remove' title='Remove' /> </a>
                        </td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.get_start_time }}</td>
                        <td>{{ event.get_end_time }}</td>
                        <td>{{ event.execution_time }}</td>
                    </tr>
               {% endfor %} 
            </tbody>
        </table>
    </div>

    <script src="{{ STATIC_URL }}js/pages/add_edit_event.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

    <script type="text/javascript">
        var remove_icon = "{% static 'images/remove.png' %}";
    </script> 
{% endblock %}        







