{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="main_container">
            <div class="first_container" />

                <img src="{% static 'images/avatar/woman.jpg' %}" style="width:250px; height:120px; margin-left:60px">        
                <br><br>
                <form action= "{% url 'settings:edit_user' user_id %}" method="post"> 
                    {% csrf_token %}
                    {% for field in user_form  %}
                        <div class="field_group" />
                           
                            {{ field.label }} <br>
                            {{ field }}<br>
                            <small>{{ field.help_text }} </small>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="error">
                                    {{error}}
                                    </p>
                                {% endfor %}
                                <br>
                            {% endif %}

                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
