*.pyc
local_settings.py
local_settings.pyc


project/settings.py
.gitignore
node_modules

celerybeat-schedule
celerybeat.pid
npm-debug.log

static/bower_components
bower_components
public

sublime-gulp.log
venv