*.pyc
local_settings.py
local_settings.pyc
/public

project/settings.py
.gitignore
node_modules

celerybeat-schedule
celerybeat.pid
npm-debug.log

static/bower_components
bower_components
app/static/public

sublime-gulp.log
/output
/path
