{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Groups
            </h1>
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-info-circle"></i>  
                    <strong>Group</strong> has been <strong>successfully</strong> updated
                    </div>
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <a href="{% url 'settings:add_client' %}" class="btn btn-sm btn-primary" role="button">{% trans "Add new" %} </a>
    <!-- /.row -->
    <hr>
        <div class="col-lg-14">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th> 
                            <th>Name</th>
                            <th>Description</th>
                            <th>Total clients</th>

                        </tr>
                    </thead>
                    <tbody>                  
                    {% for group in groups%}                
                        <tr>
                            <td>
                                <a href="" ><img src="{% static 'edit.png' %}" alt='Edit' /></a>

                                <a href="" ><img src="{% static 'remove.png' %}" alt='Remove' title='Remove' /> </a>

                                <a href="" >
                                <img src="{% static 'mute.png' %}" alt="Notification settings" title="Notification settings" /></a>
                            </td>  
                            <td>{{group.id}}</td>
                            <td>{{group.name}}</td>
                            <td>{{group.description}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    <hr>
    <script src="{{ STATIC_URL }}js/pages/clients.js"></script>  
{% endblock %}