.main {
    margin: auto;
}

.first_container{
    width: 430px;
    float: left;
    margin-left: 20px;

}

.second_container{
    width: 430px;
    float: left; 
    margin-left: 20px;
}

.field_group  {
    display: block;
    margin-bottom: 11px;
}

form input[type="text"],form input[type="email"], form input[type="number"]{
    padding: 6px;
    font-size: 14px;
    color: black;
    width: 370px;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.field_group .form-control {
    width: 310px;
    margin-right: 5px;
    display: inline-block;
}
.field_group button {
    width: 50px;
    height: 34px;
}

.fieldset_content {
    display: none;
    margin-bottom: 10px;
} 

form .days_group button {
    width: 75px;
}

form .validation_error{
    color: #a94442;
}

.blink {
    display: none !important;
}








/* Actions page*/
/*----------------------------------------*/

#added_actions tr th:nth-child(2), 
#added_actions tr td:nth-child(2)  {
    display: none;
}

#added_actions td {
    text-align:center;
}











