.main {
    margin: auto;
}

.first_container{
    width: 430px;
    float: left;
    margin-left: 20px;

}

.second_container{
    width: 430px;
    float: left; 
    margin-left: 20px;
}

p.field_group  {
    display: block;
    margin-bottom: 7px;
}

form p input[type="text"], form p input[type="number"]{
    padding: 6px;
    font-size: 14px;
    color: black;
    width: 370px;
}

.fieldset_content{
    display: none;
} 

.blink {
    display: none !important;
}