{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
    var paths={
        'fieldset_open': "{% static 'advanced_plus.png' %}",
        'fieldset_close': "{% static 'advanced_minus.png' %}" 
    }
</script>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Clients <small>Add new</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Clients
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="main_container">
        <div class="first_container" />
            <form action= "
                        {% if client_id %}
                            {% url 'settings:edit_client' client_id %}
                        {% else %}
                            {% url 'settings:add_client'%}
                        {% endif %}
                          "
                        }

                     method="post"> 
                {% csrf_token %}
                {% for field in client_form %}
                    <p class="field_group" />
                        {{field.label}} </br>
                        {{field}} </br>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                            <br>
                        {% endif %}
                        <small>{{field.help_text}}</small> </br>
                    </p>
                {% endfor %}              
                <hr>      
                <input type="submit" value="Save">
            </form>
        </div>
        <div class="second_container" />

                     <fieldset>
                          <legend>
                             <img id='advanced' src="{% static 'advanced_minus.png' %}" alt="advanced" /> 
                             Advanced settings
                          </legend>
                          <div id="advanced_content" data-fieldset_status="close" >
                            <img src="{% static 'shutdown.png' %}">
                            <img src="{% static 'restart.png' %}">
                            <br><br>


                            <label for=weight>Volume control</label>
                            <input type=range id='weight' min='10' value='10' max='2000' step='100'>
                          </div>
                     </fieldset>


        </div>
    </div>

    <script src="{{ STATIC_URL }}js/content/add_edit_client.js"></script>  
{% endblock %}