{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bostjan Novak">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <title>StrawberryPie- Development version</title>


    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}public/bundle.css" rel="stylesheet">


    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!-- Custom Fonts -->
    {% comment "optional note" %}
      <link href="{{ STATIC_URL }}bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">      
    {% endcomment %}

</head>

<body onload="updateClock(); setInterval('updateClock()', 1000 )">

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "header_menu.html" %}
            {% include "sidebar_menu.html" %}
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">  

                {% block content %}
                {% endblock %}
            
            </div>
        </div>
    </div>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

     <script src="{{ STATIC_URL }}js/pages/utils.js"></script>

    <script type="text/javascript">
        var paths={
            'fieldset_open': "{% static 'images/maximize.png' %}",
            'fieldset_close': "{% static 'images/minimize.png' %}" 
        }
    </script>
 

</body>

</html>
