<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Speach</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Entertainment <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Play music</a>
                </li>
                <li>
                    <a href="#">Stream video</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#entertainment"><i class="fa fa-fw fa-arrows-v"></i> Settings <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="entertainment" class="collapse">
                <li>
                    <a href="{% url 'settings:general_settings' %}">General settings</a>
                </li>
                <li>
                    <a href="{% url 'settings:clients_list' %}">Clients</a>
                </li>
                <li>
                    <a href="{% url 'settings:add_client' %}">Add client</a>
                </li>
                <li>
                    <a href="{% url 'settings:users_list'%}">Users</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
