<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        {% comment %}
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Speach</a>
            </li>
        {% endcomment %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Entertainment <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="{% url 'entertainment:music' %}">Play music</a>
                </li>
                {% comment %}
                <li>
                        <a href="#">Stream video</a>
                </li>
                {% endcomment %}
            </ul>
        </li>
        <li>
            <a href="{% url 'settings:add_alarm' %}" data-toggle="collapse" data-target="#actions"><i class="fa fa-fw fa-arrows-v"></i> Actions </a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#entertainment"><i class="fa fa-fw fa-arrows-v"></i> Settings <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="entertainment" class="collapse">
                <li>
                    <a href="{% url 'settings:general_settings' %}">General settings</a>
                </li>
                <li>
                    <a href="{% url 'settings:groups_list' %}">Groups</a>
                </li>
                <li>
                    <a href="{% url 'settings:clients_list' %}">Clients</a>
                </li>
                <li>
                    <a href="{% url 'settings:items_list' %}">Events</a>
                </li>
                <li>
                    <a href="{% url 'settings:users_list'%}">Users</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
