{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
    <div class="main_container">
        <div class="first_container" />
                <div class="panel-body">
                    <form action="{% url 'settings:add_alarm' %}?client_id=1" method="post">
                        {% csrf_token %}
                        <div class="field_group"/>
                            {{ action_form.notification_time.label }}
                            {{ action_form.notification_time }}
                            {% if action_form.notification_time.errors %}
                            <br>
                                {% for error in action_form.notification_time.errors %}
                                    <div class="validation_error" >
                                        {{error}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <small> {{ action_form.notification_time.help_text }} </small>
                        </div>
                        <div class="field_group" />
                                <select id="selected_group" class="form-control">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select> 
                              
                              <button type="button" class="btn btn-sm btn-primary">{% trans "Add" %}</button>
                        </div>
                        <div class="field_group" />
                            {{ action_form.is_periodically.label }}
                            {{ action_form.is_periodically }}
                        </div>

                        <div class="days_group">
                            <button id="monday" type="button" class="btn btn-xs btn-default">Monday</button>
                            <button id="tuesday" type="button" class="btn btn-xs btn-default">Tuesday</button>
                            <button id="wednesday" type="button" class="btn btn-xs btn-default">Wednesday</button>
                            <button id="thursday" type="button" class="btn btn-xs btn-default">Thursday</button>
                            <br>
                            <button id="friday" type="button" class="btn btn-xs btn-default">Friday</button>
                            <button id="saturday" type="button" class="btn btn-xs btn-default">Saturday</button>
                            <button id="sunday" type="button" class="btn btn-xs btn-default">Sunday</button>
                        
                        <br><br>
                        
                        </div>
                        {% comment %}
                        {% for field in action_form  %}
                             <p class="field_group" />
                                {{ field.label }}<br>
                                {{ field }}
                                <small> {{ field.help_text }} </small>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{error}}
                                    {% endfor %}
                                    <br>
                                {% endif %}
                            </p>
                        {% endfor %}
                        <br>
                        <button id="monday" type="button" class="btn btn-xs btn-default">Monday</button>
                        <button id="tuesday" type="button" class="btn btn-xs btn-default">Tuesday</button>
                        <button id="wednesday" type="button" class="btn btn-xs btn-default">Wednesday</button>
                        <button id="thursday" type="button" class="btn btn-xs btn-default">Thursday</button>
                        <button id="friday" type="button" class="btn btn-xs btn-default">Friday</button>
                        <button id="saturday" type="button" class="btn btn-xs btn-default">Saturday</button>
                        <button id="sunday" type="button" class="btn btn-xs btn-default">Sunday</button>
                        
                        <br><br>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        {% endcomment %}
                        
                        <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                    </form>
                </div>
        </div>
    </div>
    </div>
    <br> <br>
            <div class="col-lg-14">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Notes</th> 
                                <th>Volume</th>
                                <th>Notification time</th>
                                <th>Notified</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for action in actions  %}
                            <tr>
                                    <td>{{action.note}}</td>
                                    <td>{{action.alarm_volume}}</td>
                                    <td>{{action.notification_time}}</td>
                                    <td>{{action.notified}}</td>
                            </tr>
                       {% endfor %} 
                    </tbody>
                </table>
            </div>

        <script src="{{ STATIC_URL }}js/pages/add_edit_action.js"></script> 
{% endblock %}        
