{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block content %}

    <link href="{{ STATIC_URL }}/css/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Page Heading -->
    <div class="row">
    <div class="main_container">
        <div class="first_container" />
            <div class="panel-body">

                <form action="{% url 'settings:add_alarm' %}?client_id=1" method="post">
                    {% csrf_token %}
                
                        <div class="datetimeChooser" >
                            {{ action_form.notification_time.label }} <br>
                            
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' name="notification_time" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                
                                {% if action_form.notification_time.errors %}
                                    {% for error in action_form.notification_time.errors %}
                                        <div class="validation_error" >
                                            {{error}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
                                <small> {{ action_form.notification_time.help_text }}   </small>
                            </div>


                    </div>

                    <div class="field_group" />
                            <select name="selected_group" id="group" class="form-control">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select> 
                          <button type="button" id='add_action' class="btn btn-sm btn-primary">{% trans "Add" %}</button>
                    </div>

                    <div class="field_group" />
                        {{ action_form.is_periodically.label }}
                        {{ action_form.is_periodically }}
                    </div>

                    <div id="days_group">
                        <button id="monday" type="button" class="btn btn-xs btn-default">
                        {% trans "Monday" %}</button>
                        <button id="tuesday" type="button" class="btn btn-xs btn-default">
                        {% trans "Tuesday" %}</button>
                        <button id="wednesday" type="button" class="btn btn-xs btn-default">
                            {% trans "Wednesday" %}
                        </button>
                        <button id="thursday" type="button" class="btn btn-xs btn-default">
                            {% trans "Thursday" %}
                        </button>
                        <br>
                        <button id="friday" type="button" class="btn btn-xs btn-default">
                            {% trans "Friday" %}
                        </button>
                        <button id="saturday" type="button" class="btn btn-xs btn-default">
                            {% trans "Saturday" %}
                        </button>
                        <button id="sunday" type="button" class="btn btn-xs btn-default">
                            {% trans "Sunday" %}
                        </button>
                    
                    <br><br>
                    
                    </div>

                    <button type="submit" class="btn btn-xs btn-primary">{% trans "Continue" %}</button>
                </form>
            </div>
        </div>
        <div class="second_container">
            <div class="row" style="width:100%">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" id="added_actions">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <th>Group</th>
                                    <th>Notification time</th>
                                    <th>Repeting event</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br> <br>
            <div class="col-lg-14">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Group</th> 
                                <th>Volume</th>
                                <th>Notification time</th>
                                <th>Notified</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for action in actions  %}
                            <tr>
                                <td>
                                    <a href="#" ><img src="{% static 'remove.png' %}" alt='Remove' title='Remove' /> </a>
                                </td>
                                <td>{{action.group.name}}</td>
                                <td>{{action.alarm_volume}}</td>
                                <td>{{action.notification_time}}</td>
                                <td>{{action.notified}}</td>
                            </tr>
                       {% endfor %} 
                    </tbody>
                </table>
            </div>

        <script src="{{ STATIC_URL }}js/pages/add_edit_action.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            $('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
        </script>

        <script type="text/javascript">
            var remove_icon = "{% static 'remove.png' %}";
        </script> 
{% endblock %}        






