{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Clients 
            </h1>
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="fa fa-info-circle"></i>  
                    <strong>Client</strong> has been <strong>successfully</strong> updated
                    </div>
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <a href="{% url 'settings:add_client' %}" class="btn btn-sm btn-primary" role="button">{% trans "Add new" %} </a>
    <!-- /.row -->
    <hr>
        <div class="col-lg-14">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>ID</th> 
                            <th>Name</th>
                            <th>Description</th>
                            <th>IP address</th>
                            <th>Port</th>
                            <th>Created</th>
                            <th>Last active</th> 

                        </tr>
                    </thead>
                    <tbody>
                    {% for client in clients%}                
                            {% if client.is_connected and client.last_active %}
                                <tr class="success">                
                               <td stye="width:100px"> <img class="myDiv" src="{% static 'images/ok_icon.png' %}" title='Connected'></td>
                            {% else %}
                                <tr>
                                <td style="width:35px"></td>
                            {% endif %}
                            <td>
                                <a href="{%url 'settings:edit_client' client.id%}" ><img src="{% static 'images/edit.png' %}" alt='Edit' /></a>

                                <a href="{%url 'settings:delete_client' client.id%}" ><img src="{% static 'images/remove.png' %}" alt='Remove' title='Remove' /> </a>

                                <a href="{%url 'settings:edit_client_notification' client.id%}" >
                                <img src="{% static 'images/mute.png' %}" alt="Notification settings" title="Notification settings" /></a>
                            </td>
                            <td>{{client.id}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.description}}</td>
                            <td>{{client.ip_address}}</td>
                            <td>{{client.port}}</td>
                            <td>{{client.created}}</td>
                            {% ifequal client.last_active None %}
                                <td> - </td>
                            {% else %}
                                <td>{{client.last_active}}</td>
                            {% endifequal %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <br>

            <nav>
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
        </div>
    <hr>
    <script src="{{ STATIC_URL }}js/pages/clients.js"></script>  
{% endblock %}