<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Bostjan Novak">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <title>StrawberryPie- Development version</title>
        {% load staticfiles %}

        <link href="{{ STATIC_URL }}public/bundle.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bower_components/font-awesome/css/font-awesome.min.css"/>
    </head>
    <body onload="updateClock(); setInterval('updateClock()', 1000 )">
        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                {% include "header_menu.html" %}
                {% include "sidebar_menu.html" %}
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">  
                    {% block content %}
                    {% endblock %}              
                </div>
            </div>
        </div>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/pages/utils.js"></script>
        <script type="text/javascript">
            var paths={
                'fieldset_open': "{% static 'images/maximize.png' %}",
                'fieldset_close': "{% static 'images/minimize.png' %}" 
            }
        </script>
    </body>
</html>
